EXACT_MCP_EXACT_CLIENT_ID=
EXACT_MCP_EXACT_CLIENT_SECRET=
EXACT_MCP_EXACT_REDIRECT_URI=http://127.0.0.1:8765/oauth/callback
EXACT_MCP_TOKEN_ENCRYPTION_KEY=
EXACT_MCP_TOKEN_FILE=tokens.enc
EXACT_MCP_TRANSPORT=stdio
EXACT_MCP_HOST=127.0.0.1
EXACT_MCP_PORT=8000

